body,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  min-width: 100%;
  min-height: 100%;
  overflow:auto;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}
